.container{
    margin-bottom: 100px;
}
.white-bg{
    background-color:white;
    border-radius: 10px;
   
}

.carousel-item{
    padding: 20px 40px;
    
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to right,rgb(46, 45, 45)0%,rgb(15, 5, 5) );
    color: #fff;
    border:none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1,.cat2,.cat3{
    border: none;
    border-radius: 10px;
    box-shadow:10PX 10px 40px lightgrey;
    height: 180px;
    width: 160px;
   
}
.cat1{
    margin-top: 120px;
}
.cat2{
   margin-bottom: 40px;
}

.cat3{
    margin-top: 50px;   
}
.cat4 img{
    width: 500px;
   
}
.Catagories h1{
    text-align: center;
    font-size:medium;
}
 

.card{
    border: none;
    border-radius: 10px;
    box-shadow:5PX 5px 10px lightgrey;
}
.card-footer{
    background-color: white;
    border-top: none;
 }

footer{
    text-align: right;
}
